Flask==3.1.1
Flask-SocketIO==5.5.1
simple-websocket==1.1.0

# Shared payload runtime
Pillow
RPi.GPIO; platform_machine == "armv7l" or platform_machine == "aarch64"
ai-edge-litert; platform_machine == "aarch64"
bleak
bluepy; sys_platform == "linux"
cryptography
esptool
evdev; sys_platform == "linux"
gpsd-py3
nfcpy
numpy
opencv-python-headless
pyftpdlib
pyserial
pyudev; sys_platform == "linux"
pyzbar
qrcode[pil]
requests
scapy
scikit-learn
smbus2
speedtest-cli
PyTurboJPEG
vosk
wifi
